html, body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100%;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    font-family:'Times New Roman', Times, serif;
    background-color: #f9f7f3;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 23px 20% 23px 20%;
}

.inner-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    /* padding: 0 20px 0 20px; */
}

.page-header {
    margin: 0;
}

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

/* Home */

.welcome-contents {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}

#welcome-image {
    width: 650px;
    border: 2px solid black;
}

#welcome-text {
    text-align: center;
    font-size: 17px;
}


/* Blog */

#blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#new-post-button {
    background-color: #8c9b47;
    color: white;
    display: block;
    line-height: 1;
    padding: calc(0.5rem * var(--mantine-scale)) calc(0.75rem * var(--mantine-scale));
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: #e6e8b0;
    }

}

#new-post-modal-title {
    font-family: 'Times New Roman', Times, serif;
}

#new-post-modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

#new-post-modal-body > * {
    align-self: stretch;
}

#new-post-modal-body .mantine-TextInput-input {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
    font-size: var(--mantine-font-size-md);
}

#new-post-modal-body .mantine-Textarea-input {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
    font-size: var(--mantine-font-size-md);
}

#post-submit-button {
    background-color: #8c9b47;
    color: white;
    display: block;
    line-height: 1;
    width:fit-content;
    padding: calc(0.5rem * var(--mantine-scale)) calc(0.75rem * var(--mantine-scale));
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    align-self: center;

    @mixin hover {
        background-color: #e6e8b0;
    }
}

.blog-post {
    width: 100%;
}

.blog-post > p {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.blog-date {
    /* color: #869c3a; */
    /* font-style: italic; */
}

#draft-label {
    color: #d85100;
    font-weight: bold;
}

.blog-post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blog-post-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.blog-post-button {
    background: none;
    border: none;
}

.post-divider {
    background-color: #e6e8b0;
    border:  none;
    height: 1px;
}


/* Music */

.accordian {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:20px;
}

.accordian-item {
    border: none;
}

.accordian-label {
    height: 40px;
    font-size: 20px;
    background-color: #ddd6ca;

    @mixin hover {
        background-color: #cac5bd;
    }
}

.accordian-content {
}

.media-embed-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.music-comment {
    width: 60%;
}

.soundcloud-embed {
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}

.embedded-media-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
}


/* Photos */

.photo-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 50px;
    align-items: center;
}

#water-tower-img {
    width: 500px;
}

#mountain-light-img {
    width: 500px;
}

#tree-on-tree-img {
    width: 500px;
}


/* About */

#selfie {
    width: 250px;
}